html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    box-sizing: border-box;
    font-family: Cereal, Lato, Roboto, sans-serif, serif;
    width: auto !important;
    margin: 0px;
    text-rendering: optimizeLegibility;
    font-size: 1em;
}

body, ul, h1, h2, a, p {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

@keyframes appearOut {
  0% {
    opacity: 0;
    transform: translate3d(0,-5px,-5px);
    transform: scale3d(.96,.96,.96);
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.appearOut {
  animation-name: appearOut;
  animation-duration: .55s;
  animation-fill-mode: forwards;
  animation-delay: .15s;
  opacity: 0;
}

@font-face {
    font-family: 'Cereal';
    src: local('Cereal'),
         url('./fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealLight.woff') format('woff'),
         url('./fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 900;
  src: local('Cereal'),
       url('./fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealBold.woff') format('woff');
}

@font-face {
  font-family: 'Cereal';
  font-weight: 600;
  src: local('Cereal'),
       url('./fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealMedium.woff') format('woff');
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headerIcon {
    display: block;
  }
  .headerNav {
    display: none;
  }
  .projectContent {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .headerIcon {
    display: block;
  }
  .headerNav {
    display: none;
  }
  .projectContent {
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerIcon {
    display: none;
  }
  .headerNav {
    display: block;
  }
  .projectContent {
    flex-direction: row;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerIcon {
    display: none;
  }
  .headerNav {
    display: block;
  }
  .projectContent {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerIcon {
    display: none;
  }
  .headerNav {
    display: block;
  }
  .projectContent {
    flex-direction: row;
  }
}